<h2>My Groups</h2>

<div>
    <label>Group name:</label> <input #groupName />
    <button (click)="add(groupName.value); groupName.value=''">
        Add
    </button>
</div>

<table class="groups">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>supporters</th>
        <th>sessions</th>
        <th>requested</th>
        <th>confirmed</th>
        <th>expiresAt</th>
    </tr>
    <tr *ngFor="let group of groups"
        (click)="onSelect(group)"
        [class.selected]="group === selectedGroup"
        [class.joined]="mySessionsService.has(group)"
    >
        <td>{{group.id}}</td>
        <td>{{group.name}}</td>
        <td>{{group.status ? group.status.supporters.length : 0}}</td>
        <td>{{group.sessions.length}}</td>
        <td>{{group.status && group.status.requested}}</td>
        <td>{{group.status && group.status.confirmed}}</td>
        <td>{{group.status ? group.status.expiresAt : '-'}}</td>
    </tr>
</table>

<group-detail [group]="selectedGroup"></group-detail>